# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
dist/
.env
.env.*
coverage/
playwright-report/
test-results/

# C# project files
*/PortfolioApi.Api/obj/
*/PortfolioApi.Api/bin/
*/PortfolioApi.Services/obj/
*/PortfolioApi.Services/bin/
service/PortfolioApi.Services/bin/
service/PortfolioApi.Api/obj/
service/PortfolioApi.Api/bin/

# Configuration files
service/PortfolioApi.Api/appsettings.json
service/PortfolioApi.Api/appsettings.Development.json

# OS files
.DS_Store
Thumbs.db
service/PortfolioApi.Api/bin/Debug/net8.0/PortfolioApi.Api.dll
service/PortfolioApi.Api/bin/Debug/net8.0/PortfolioApi.Api.dll
service/PortfolioApi.Api/bin/Debug/net8.0/PortfolioApi.Api.pdb
service/PortfolioApi.Api/bin/Debug/net8.0/PortfolioApi.Services.dll
service/PortfolioApi.Api/bin/Debug/net8.0/PortfolioApi.Services.pdb
service/PortfolioApi.Services/bin/Debug/net8.0/PortfolioApi.Services.deps.json
service/PortfolioApi.Services/bin/Debug/net8.0/PortfolioApi.Services.dll
service/PortfolioApi.Services/bin/Debug/net8.0/PortfolioApi.Services.pdb
